<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.smartisan.launchertest.fixture" android:versionCode="3" android:versionName="3.0-stale">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
    <application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="Launcher Model Fixture stale">
        <activity android:name=".LauncherActivityB" android:exported="true" android:label="Fixture B" android:icon="@drawable/fixture_b">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
